.img-rectangle {
  width: 224px;
  height: 275px;
}

.img-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.icon {
  width: 40px;
  height: 40px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(95deg)
    brightness(105%) contrast(101%);
}

.icon-remove {
  width: 20px;
  height: 20px;
}

.icon-control {
  width: 25px;
  height: 25px;
}
.icon-control:hover {
  transform: scale(1.1);
}
