.btn-primary {
  padding: 21px 0;
  border-radius: 2px;
  background-color: var(--text-primary-color);
  text-transform: uppercase;
  width: 250px;
  border: 0;
}

.btn-secondary {
  background-color: var(--secondary-color);
  text-transform: capitalize;
}

.btn-nav {
  padding: 41px 47px;
  background: var(--primary-color);
}

.btn-transparent {
  background-color: transparent;
  border: 0;
}

.btn-apply {
  padding: 20px 42px;
  border: 0;
  max-width: 166px;
  margin-top: 2px;
}

.btn-confirm {
  padding: 20px 84px;
  border: 0;
}
