.container {
  max-width: 1440px;
  margin: auto;
}


.dash {
  background-color: var(--primary-color);
  width: 306px;
  height: 5px;
  margin: 0;
  border: 0;
}

.dash-menu {
  width: 306px;
}



.copyright {
  margin-top: 208px;
}
