.card-group {
  grid-area: card-group;
}

.grid-container {
  display: grid;
  grid-template-areas: "list-cart card-group";
  gap: 41px;
  margin-top: 24px;
}

.carts {
  display: none;
}

.notify-empty {
  padding: 54px;
  margin: 0 auto;
  font-size: 54px;
}

.dash-cart {
  width: 134px;
}
